@media screen and (min-width: 1200px) {
    .formFeedback{
        margin: 15px;
        padding: 20px;
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        background: white;

        box-sizing: border-box;
        color: #FFF;
        background: rgb(33, 37, 41);
        background-clip: padding-box; /* !important */
        border: solid 5px transparent; /* !important */
        border-radius: 1em;
    }
    .form{
        width: 100%;
    }
    .mainSection{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        
    }
    .contentSection{
        margin: 15px;
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1200px) {
    .formFeedback{
        margin: 15px;
        padding: 20px;
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        background: white;

        box-sizing: border-box;
        color: #FFF;
        background: rgb(33, 37, 41);
        background-clip: padding-box; /* !important */
        border: solid 5px transparent; /* !important */
        border-radius: 1em;
    }
    .mainSection{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 70%;
        flex-wrap: wrap;

        
    }
    .contentSection{
        display: flex;
        margin: 15px;
        width: 95%;
        align-items: center;
        justify-content: center;
    }
    .form{
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .mainSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;

    }

    .formFeedback{
        margin: 15px;
        padding: 20px;
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        background: white;

        box-sizing: border-box;
        color: #FFF;
        background: rgb(33, 37, 41);
        background-clip: padding-box; /* !important */
        border: solid 5px transparent; /* !important */
        border-radius: 1em;
    }

    .contentSection{
        display: flex;
        margin: 15px;

        width: 95%;
        align-items: center;
        justify-content: center;
    }
    .form{
        width: 70%;
    }
}


